<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wee0.flutter.bluetooth_helper">

    <!-- 声明应用仅适用于支持 BLE 的设备 -->
    <!--    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />-->

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- android9(API级别 28)以上 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- android9(API级别 28)以下 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

<!--    <service android:name=".MyAlarmIntentService" android:exported="false"></service>-->
</manifest>
